.card img{
    width: 100px;
}
.cards{
    margin: 5% 30%;

}
.unitt-price{
    margin-left: 50px;
}
i{
    cursor: pointer;
}
.total-price-container{
    text-align: center;
    margin-bottom: 100px;
}